


<!DOCTYPE HTML>
<HTML>

	<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plasma Donor Application</title>
        <style>
            /*--------------Images slidshow-----------*/

            .main-block {
      max-width: 700px; 
      min-height: 460px; 
      padding: 10px 0;
      margin: auto;
      border-radius: 5px; 
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
      background: #ebebeb; 
      }
      
        </style>
	</head>


	<BODY>
	
	

	<!-- <div id="top" style="background-color:rgb(212, 106, 106); text-decoration: none;">
	
	
		<nav>
				<ul id="mmenu">
						<ul>
							<li><a >Home</a></li>
							<li><a>Donor</a></li>
							<li><a >Requestor</a></li>
						</ul>
					</li>
					</ul>
        </nav>
    </div> -->
    <div class=".main-block">
    <center><p style="font-size: 60px;">Successfully Registred</p></center>

			<center>
				<img src="images/tick.png" style="height:300px; width:300px;">
			</center>
            <br>
        </div>
	</BODY>
</HTML>